.header {
  height: 4.688rem;
  line-height: 4.688rem;
  padding-left: 26.563rem;

  font-size: 1.625em;

  background-image: url('../images/NeuFund_logo.png');
  background-position: left center;
  background-repeat: no-repeat;
}

.devMenu {
  margin: 1rem auto;

  a {
    margin-right: 1rem;
  }
}

