// remember those values are also set in MuiThere.js - so you need to change them in two places
$neufundGreen: #d5e20f;
$neufundGrey: #424a52;

$tableDescriptionGrey: #aab3bb; //TODO: clean this naming.
$text-color: $neufundGrey;
$table-description-color: $tableDescriptionGrey