// remember those values are also set in MuiThere.js - so you need to change them in two places
$neufundGreen: #d5e20f;
$neufundGrey: #424a52;

$descriptionGrey: #dce0e7;
$tableDescriptionGrey: #D9DBDC; //TODO: clean this naming.

$text-color: $neufundGrey;
$description-section-background: $descriptionGrey;

$table-description-color: $tableDescriptionGrey