.esop {

  .read_more {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .read_more_button {
      align-self: flex-start;
    }
  }

  .contract_chart {
    display: block;
    margin: 2em auto;
  }

  .copy_icon {
    cursor: pointer;
    font-size: 1rem !important;
  }

  .material_icon_table {
    cursor: pointer;
    font-size: 1rem !important;
  }

  .inline_link {
    margin-left: .9em;
    margin-right: .9em;
  }

}