.esop {

  .read_more {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .read_more_button {
      align-self: flex-start;
    }
  }

  .contract_parameters {
    .contract_parameters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .contract_parameter {
      min-width: 17.07rem;
      margin-right: 1em;
    }
  }

  .contract_chart {
    display: block;
    margin: 2em auto;
  }

  .copy_icon {
    cursor: pointer;
    font-size: 1rem !important;
  }

  .convert_options {
    margin-bottom: 2em;
  }
}

.paper_contract_img {
  display: block;
  width: 600px;
  height: 800px;
}