.new_esop {

  .contract_parameter {
    min-width: 17.07rem;
    margin-right: 1rem;
  }

  .material-icons {
    margin-right: 1rem;
  }

  .start_button {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .preview_button {
    margin-left: 2rem;
  }
}