.esop {
  .contract_parameters {
    .contract_parameters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .contract_parameter {
      min-width: 17.07rem;
      margin-right: 1em;
    }
  }
}