.employee_details {
  margin-bottom: 2rem;

  .parameter_wrapper {
    display: inline-block;
    margin-right: 1rem;
  }

  .contract_chart {
    width: 500px;
    height: auto;
  }

  .date_picker {
    margin: 2rem 0;
  }

  .suspendButton {
    margin-top: 2rem;
  }
}