.employee_list {
  .selected {
    background-color: rgb(224, 224, 224);
  }

  .inline_link {
    margin-left: 0;
  }

  .public_key {
    white-space: nowrap;
  }

  table {
    border-collapse: collapse;
  }

  tr {
    border-bottom: 0.063rem solid rgb(224, 224, 224);
  }

  th {
    font-weight: normal;
  }

  th, td {
    text-align: left;
    padding: 1rem 1.5rem;
    font-size: 0.875rem;
  }

  tbody {
    tr:last-of-type {
      border-bottom: none;
    }
  }

  // xs - 768px
  @media (max-width: 48rem) {
    table, thead, tbody, th, td, tr {
      display: block;
    }

    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }

    tr {
      border: 0.063rem solid rgb(224, 224, 224) !important;
    }

    td:before {
      display: block;
      font-size: 0.688rem;
      margin-bottom: 0.25rem;
    }

    td:nth-of-type(1):before {
      content: "Public key";
    }
    td:nth-of-type(2):before {
      content: "Issue date";
    }
    td:nth-of-type(3):before {
      content: "Issued options";
    }
    td:nth-of-type(4):before {
      content: "Vested options";
    }
    td:nth-of-type(5):before {
      content: "State";
    }

    .selected {
      background-color: rgb(236, 236, 236);
    }
  }

  // sm - 1024px
  @media (max-width: 64rem) {
    th, td {
      padding: 0.5rem 1rem;
    }
  }
}