@import "../styles/colors";

.employee_sign_esop {

  border: 1px solid black;
  padding: 1rem;

  .esop_title {
    text-align: center;
  }

  .title {
    .material-icons {
      vertical-align:middle;
      margin-left: 1em;
      font-size: 1.25rem !important;
    }
  }

  .description {
    display: none;
    white-space: normal;
    color: $table-description-color;
  }
}