@import "../styles/colors";

.header {
  .logo_section {
    .logo {
      height: 3.75rem;
      width: 10.688rem;
      background-image: url('../images/NeuFund_logo.png');
      background-size: 10.688rem 2rem;
      background-position: left center;
      background-repeat: no-repeat;

      margin-right: 1rem;
    }

    .title {
      font-size: 1.625rem;

      .smaller {
        font-size: 0.875rem;
      }
    }

    @media (min-width: 751px) {
      display: flex;
      flex-wrap: wrap;
      .title {
        line-height: 3.75rem;
      }
    }

    @media (max-width: 750px) {
      .title {
        margin-bottom: 1rem;
      }
    }
  }

  .introduction {
    font-size: 0.938rem;
    color: #333941;

    a {
      text-decoration: none;
    }

    .greeting {
      background-color: #444C53;
      color: #d0d3d4;
      padding-top: 1rem;

      .text {
        p {
          margin-bottom: 1rem;
        }
      }

      h2 {
        font-size: 1.813rem;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $neufundGreen;
        text-transform: capitalize;
        margin-top: 0;
        margin-bottom: 1rem;
      }

      .image_wrapper {
        position: relative;
      }

      .image {
        position: absolute;
        $margin: 20%;
        left: $margin;
        right: $margin;
        top: 0;
        bottom: $margin;

        background-image: url('../images/Introduction_greeting.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }

      @media (min-width: 48rem) {
        padding-top: 6.25rem;

        h2 {
          margin-bottom: 2.5rem;
        }

        .text {
          p {
            margin-bottom: 6.25rem;
          }
        }
      }
    }

    .columns {
      background-color: $neufundGreen;
      color: $neufundGrey;

      .column_title {
        color: #424a52;
        font-weight: bold;
      }

      a {
        color: #fff;
        font-weight: bold;
      }

      @media (min-width: 48rem) {

        padding-top: 3.5rem;
        padding-bottom: 3.5rem;

        $padding_width: 3rem;
        .col_first {
          padding-right: $padding_width;
        }

        .col_middle {
          padding-right: $padding_width;
          padding-left: $padding_width;
        }

        .col_last {
          padding-left: $padding_width;
        }
      }
    }

    .content {
      background-color: #F7F8F8;
      padding-top: 3.125rem;
      padding-bottom: 3.125rem;

      a {
        font-weight: bold;
        color: $neufundGreen;
      }

      .round_logo_wrapper {
        position: relative;
      }
      .round_logo {
        position: absolute;
        $margin: 10%;
        left: $margin;
        right: $margin;
        top: $margin;
        bottom: $margin;

        background-image: url('../images/NeuFund_logo_solo.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

