@import "../styles/colors";

.header {
  .logo_section {
    .logo {
      height: 3.75rem;
      width: 10.688rem;
      background-image: url('../images/NeuFund_logo.png');
      background-size: 10.688rem 2rem;
      background-position: left center;
      background-repeat: no-repeat;

      margin-right: 1rem;
    }

    .title {
      font-size: 1.625rem;

      .smaller {
        font-size: 0.875rem;
      }
    }

    @media (min-width: 751px) {
      display: flex;
      flex-wrap: wrap;
      .title {
        line-height: 3.75rem;
      }
    }

    @media (max-width: 750px) {
      .title {
        margin-bottom: 1rem;
      }
    }
  }

  .introduction {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $description-section-background;

    ol {
      list-style-type: lower-latin;
    }

    .introduction_column_header {
      text-align: center;
    }
  }
}

